<h1> {{account}} </h1>

<p> Balance: {{account.balance}} </p>

<p> Transaction List:</p>

{% for transaction in transactions %}
    <p>
        {% if transaction.is_income %}
            {{transaction.amount}}
        {% else %}
            -{{transaction.amount}}
        {% endif %}
         | {{transaction.date}} | {{transaction.category}} | {{transaction.description}}
    </p>
{% endfor %}

<a href="{% url 'rango:add_transaction' account.id %}"> Add Transaction</a>

<a href = "{% url 'rango:home' %}"> Return Home </a>

<form method="post" action="{% url 'rango:logout' %}">
    {% csrf_token %}
    <button type="submit"> Logout </button>
</form>


