{% extends 'rango/base.html' %}

{% block content %}
<div class="container mt-4"></div>
    <h2> {{account}} </h2>

    <p class="fs-5"> Balance:<strong> £{{account.balance}} </strong> </p>

    <a href="{% url 'rango:add_transaction' account.id %}" class ="btn btn-primary mb-3"> Add Transaction</a>

    <div class="list-group mb-3">
        {% for transaction in transactions %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    {% if transaction.is_income %}
                        <span class="text-success">{{transaction.amount}}</span>
                    {% else %}
                        <span class="text-danger">-{{transaction.amount}}</span>
                    {% endif %}
                    | {{transaction.date}} | {{transaction.category}} | {{transaction.description}}
                </div>
                <div>
                    <a href="{% url 'rango:edit_transaction' transaction.id %}" class="btn btn-sm btn-outline-secondary"> Edit </a>

                    <form method="post" action="{% url 'rango:delete_transaction' transaction.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger"> Delete </button>
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>

    <a href = "{% url 'rango:home' %}" class="btn btn-secondary"> Return Home </a>

    <form method="post" action="{% url 'rango:logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary"> Logout </button>
    </form>
</div>
{% endblock %}

