{% extends 'rango/base.html' %}

{% block content %}
<div class="container mt-4">

      <h2> Add Transaction </h2>

      <form method="post">
            {% csrf_token %}

            {% for field in transactionform %}
                  <div class="mb-3">
                        <label for="{{ field.id_for_label}}" class="form-label"> {{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                              <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                  </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary"> Submit </button>

            <a href="{% url 'rango:create_category' account.id %}" class="btn btn-primary d-inline"> Add category</a>
      </form>
</div>
{% endblock %}