{% extends 'rango/base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
        {% for account in accounts %}
            <div class="col">
                <a href="{% url 'rango:account_page' account.id %}" class="text-decoration-none text-dark">
                    <div class="card shadow-sm">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">{{ account }}</h5>
                            <span class="fs-5">£{{ account.balance }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'rango:create_account' %} " class="btn btn-primary mb-3"> Create Account</a>

    {% if networth_labels != "[]" %}
    <div class="card shadow-sm mb-3" style="max-width: 600px; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title">Net Worth Over Time</h5>
            <canvas id="networthChart"></canvas>
        </div>
    </div>
    {% endif %}

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const networthLabels = {{ networth_labels|safe }};
    const networthValues = {{ networth_values|safe }};
</script>
<script src="{% static 'js/networth_chart.js' %}"></script>

{% endblock %}